{% extends 'base.html' %}

{% block content %}
   <main class="container py-5">
        <section class="card card-body">
            <h1>Home</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae voluptatem dolores voluptas laboriosam ipsum beatae unde alias similique, eius nostrum asperiores harum exercitationem laudantium sapiente sunt excepturi inventore sint odit ratione necessitatibus totam delectus reiciendis velit laborum. Corporis incidunt dignissimos sapiente aliquid, rem veniam officiis dolorum laborum vel, a, quaerat impedit nemo. Facere ipsam culpa reiciendis maiores nihil? Necessitatibus magnam explicabo sapiente harum quisquam! Dignissimos laudantium doloribus earum. Veniam deleniti aperiam eius atque sunt autem architecto possimus culpa delectus dignissimos excepturi, laboriosam officiis odit. Laudantium quisquam magnam voluptas eveniet amet unde eaque consequuntur fuga! Aliquam, itaque molestias? Hic, exercitationem at?</p>

            <div class="text-center">
                <a class="btn btn-secundary" href="/signin/">
                    Signin
                </a>
                <a class="btn btn-primary" href="/signup/">
                    Signup
                </a>
            </div>
        </section>
   </main>
{% endblock %}